body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
} 
#profilepic {
  width: 20%;
  height: 20%;
  border-radius:50%;
  border: 3px solid rgb(207, 137, 6);
}

header {
  text-align: center;
  background-color: #343330;
  color: white;
  font-family: sans-serif;
  font-size: 120%;
  padding: 1rem;
}
#sidebar {
  background-color: #45462A;
  width: 20%;
  padding: 1rem;
}
.navList {
  list-style-type: none;
  padding: 0%;
}
.icons {
  width: 3rem;
  margin: 0.5rem;
}
#contents {
  padding: 2rem;
}

footer {
  background-color: #343330;
  text-align: center;
}
